<html>
      
<head>
    <title>
    Kush is bad (history khol kar dekhiyo ab kya aagya :laugh:)
    </title>
      
    <style>
        .hi {
            background-color: greenyellow;
            border: 2px solid black;
            color: blue;
            padding: 59px 10px;
            text-align: center;
            display: inline-block;
            font-size: 200px;
            margin: 10px 30px;
            cursor: pointer;
        }
    </style>
</head>
  
<body>
    <h1>POGCHAMP? IG!</h1>
    <button class = "hi" 
    onclick="window.location.href = 'http://127.0.0.1:5000/input';">
        DO NOT CLICK ON THIS BUTTON
    </button>
</body>
  
</html>    