<html>
    <title>
    C.A.R.E
    </title>
    
<body>
	<h1 style="font-size:100px;background-color: rgb(255, 0, 0)">Welcome to C.A.R.E</h1>

		<form>
  <label for="name">Check your current health.</label><br>
</form>
<body>
    <h1>Click here for self diagnostic test</h1>
    <button class = "hi" 
    onclick="window.location.href = 'https://centralindia.healthbot.microsoft.com/account/healthybot-kplndvw';">
        Test
    </button>
</body>
    <style>
        .hi {
            background-color: greenyellow;
            border: 2px solid black;
            color: blue;
            padding: 10px 5px;
            text-align: center;
            display: inline-block;
            font-size: 10px;
            margin: 5px 15px;
            cursor: pointer;
        }
    </style>
    <button class = "hi" 
    onclick="window.location.href = 'https://centralindia.healthbot.microsoft.com/account/healthybot-kplndvw';">
        Submit
    </button>


	        <p>For a moment, lets imagine a world where we have access to healthcare system in our pockets. With just one touch on our device, we can analyze our health and get self-awareness about your weak body links. Not only this but also with the help of machine learning the technology will give all the information about how you can perfect your lifestyle </p>

<p>
An AI that will try to find the diseases that you might be going to face and it will tell you about the preventive measures to take.
We made this come true ! 
</p>

<div style="text-align: center;">
        <img src="/static/bg.jpg">
    </div>
</body>

</html>